@tailwind base;
@tailwind components;
@tailwind utilities;


#sidebar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg); background-repeat: none; background-size: cover; 
}

@media (max-width: 640px) {
   #sidebar {
        background-image: url(./assets/images/bg-sidebar-mobile.svg);
    }
}

.completed-step {
    background-color: #00cc00; /* Change to your desired background color for completed steps */
    color: #ffffff; /* Change to your desired text color for completed steps */
    border: none;
}